/* Reset properties for all elements */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

/* Volume text styles */
#volume-text {
    position: absolute;
    margin-top: 40px;

    font-size: 20px;
    font-weight: bold;
}

/* Input field styles */
input {
    width: 500px;
    margin-top: 50px;
}

/* Styles for buttons */
.button-styling {
    font-size: 20px;
    font-weight: bold;

    width: 120px;
    height: 50px;

    border: 2px solid black;
    border-radius: 4px;

    cursor: pointer;
}

/* Volume percentage text styles */
#volumePercentageText {
    color: black;
    font-size: 20px;
    font-weight: bold;

    position: fixed;
    margin-top: 150px;
}

/* Percentage label styles */
#percentage {
    color: black;
    font-size: 20px;
    font-weight: bold;
    
    position: fixed;
    margin: 150px 0 0 50px;
}