* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#volume-text {
    position: absolute;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 500px;
    margin-top: 50px;
}

.button-styling {
    font-size: 20px;
    width: 120px;
    height: 50px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#volumePercentageText {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    margin-top: 150px;
}

#percentage {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    margin-top: 150px;
    margin-left: 40px;
}